.stlms-btn {
  padding: 11px 30px;
  border-radius: $spacing_4;
  line-height: 1;
  font-size: $font_size_base;
  font-weight: $font_weight_bold;
  background: var(--stlms-primary-color);
  border: 1px solid var(--stlms-primary-color);
  color: var(--stlms-white-color) !important;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 1;
  @include transition(all 0.3s ease-in-out);

  // &:hover,
  // &:focus {
  //   opacity: 0.9;
  // }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    @include transition(all 0.3s ease-in-out);
  }

  &:hover::before {
    opacity: 0.2;
  }

  &.stlms-btn-block {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: $font_size_base;
    font-weight: $font_weight_bold;
    color: var(--stlms-white-color);
    height: 49px;
  }

  &.secondary {
    background-color: var(--stlms-secondary-color);
    border-color: var(--stlms-secondary-color);
  }

  &.outline {
    background-color: transparent;
    border: 1px solid var(--stlms-primary-color);
    color: var(--stlms-primary-color) !important;

    &:hover {
      border: 1px solid var(--stlms-primary-color);
      background-color: var(--stlms-primary-color) !important;
      color: var(--stlms-white-color) !important;
    }
  }

  &.small {
    padding: 5px 20px;
    height: 37px;
  }

  &.outline-small {
    padding: 5px 20px;
    height: 37px;
    background-color: transparent;
    border: 1px solid var(--stlms-primary-color);
    color: var(--stlms-primary-color) !important;
  }

  &-light {
    background: rgba(var(--stlms-primary-color), 0.5);
    border-color: rgba(var(--stlms-primary-color), 0.5);

    &:hover,
    &:focus {
      background: rgba(var(--stlms-primary-color), 0.6);
      border-color: rgba(var(--stlms-primary-color), 0.6);
    }
  }

  &-dark {
    background: var(--stlms-heading-color);
    border-color: var(--stlms-heading-color);

    &:hover,
    &:focus {
      background: rgba(var(--stlms-heading-color), 0.9);
    }
  }

  &-icon {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    svg {
      width: 24px;
      height: 24px;
      display: block;
    }
  }

  &-flate {
    padding: 8px 12px;
    background: transparent !important;
    border: 0;
    color: var(--stlms-link-color) !important;
    font-size: $font_size_sm;
    font-weight: $font_weight_normal;
  }
}
