.stlms-course-banner {
  padding: 77px 0;
  background-size: cover;
  background-position: center center;

  @include breakpoint(max, 767) {
    padding: 32px 0;
  }

  .stlms-breadcrumb {
    padding-bottom: 30px;
  }

  .stlms-course-title {
    font-size: $font_size_5xl;
    font-weight: $font_weight_medium;
    color: var(--stlms-white-color);
    max-width: 700px;
    margin: 0;
    padding: 0 0 15px 0;

    @include breakpoint(max, 767) {
      font-size: $font_size_3xl;
    }
  }

  .stlms-course-text {
    color: var(--stlms-white-color);
    font-size: $font_size_xl;
    line-height: 1.7;
    max-width: 700px;
    padding-bottom: 15px;

    @include breakpoint(max, 767) {
      font-size: $font_size_sm;
    }
  }

  .stlms-course-by-tag {
    display: flex;
    align-items: center;
    gap: 15px;

    .tag {
      padding: 5px 10px;
      display: inline-block;
      border-radius: 5px;
      color: var(--stlms-white-color);
      background: var(--stlms-icon-color);
      font-size: $font_size_base;
      font-weight: $font_weight_medium;
    }

    .by {
      font-size: $font_size_xl;
      color: var(--stlms-white-color);

      a {
        color: var(--theme-link-color);
        text-decoration: none;

        @include transition(all 0.3s ease-in-out);

        &:hover,
        &:focus {
          color: var(--stlms-white-color);
        }
      }
    }
  }
}

.stlms-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  color: var(--stlms-paragraph-light-color);
  font-size: $font_size_xs;

  li {
    display: flex;
    gap: 16px;

    a {
      text-decoration: none;
      color: var(--stlms-paragraph-light-color);

      @include transition(all 0.3s ease-in-out);

      &:hover {
        color: var(--stlms-white-color);
      }
    }

    &.active {
      color: var(--stlms-white-color);
    }
  }

  > li + li {
    &::before {
      content: "/";
      display: block;
      color: var(--stlms-paragraph-light-color);
    }
  }
}

.stlms-course-detail-nav {
  padding-bottom: 30px;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      width: 33.33%;
      border-right: 2px solid var(--stlms-border-color);
      box-shadow: $shadow_2;

      &:last-child {
        border: 0;
      }

      a,
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 15px;
        height: 60px;
        color: var(--stlms-paragraph-color);
        text-decoration: none;
        background-color: var(--stlms-white-color);
        width: 100%;
        border: 0;
        outline: none;
        cursor: pointer;

        @include transition(all 0.3s ease-in-out);
        @include breakpoint(max, 767) {
          font-size: $font_size_sm;
          padding: 10px;
        }

        &.active {
          background-color: var(--stlms-primary-color);
          color: var(--stlms-white-color);

          svg {
            flex-shrink: 0;
            color: var(--stlms-white-color);

            @include breakpoint(max, 767) {
              width: 20px;
              height: 20px;
            }
          }
        }

        svg {
          flex-shrink: 0;
          color: var(--stlms-icon-color);

          @include breakpoint(max, 767) {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

.stlms-course-detail-wrap {
  padding: 60px 0;

  @include breakpoint(max, 767) {
    padding: 32px 0;
  }

  .stlms-course-detail-column {
    display: flex;
    gap: 30px;

    @include breakpoint(max, 1200) {
      flex-direction: column-reverse;
    }

    .stlms-course-left {
      width: calc(100% - 400px);

      @include breakpoint(max, 1200) {
        width: 100%;
        padding-right: 0;
      }

      .stlms-course-requirement-box {
        border: 1px solid var(--stlms-border-color);
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 30px;

        @include breakpoint(max, 767) {
          margin-bottom: 20px;
        }

        h3 {
          padding-bottom: 20px;
        }

        .stlms-course-requirement-check {
          list-style: none;
          margin: 0;
          padding: 0;
          display: grid;
          grid-template-columns: 1fr;

          li {
            position: relative;
            padding-left: 30px;

            &:before {
              content: "";
              width: 5px;
              height: 5px;
              border-radius: 100%;
              position: absolute;
              left: 10px;
              top: 10px;
              background: currentColor;
            }
          }
        }

        &.learn-box {
          .stlms-course-requirement-check {
            grid-template-columns: 1fr 1fr;

            @include breakpoint(max, 767) {
              grid-template-columns: 1fr;
            }

            li {
              &:before {
                width: 15px;
                height: 15px;
                border-radius: 0;
                left: 5px;
                top: 5px;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.52036 12.5537C4.12296 12.5538 3.74183 12.3959 3.46106 12.1146L0.258452 8.9132C-0.0861507 8.56849 -0.0861507 8.00971 0.258452 7.665C0.603165 7.32039 1.16194 7.32039 1.50666 7.665L4.52036 10.6787L12.4933 2.70572C12.8381 2.36111 13.3968 2.36111 13.7415 2.70572C14.0862 3.05043 14.0862 3.60921 13.7415 3.95392L5.57966 12.1146C5.29889 12.3959 4.91776 12.5538 4.52036 12.5537Z' fill='%23595B68'/%3E%3C/svg%3E%0A");
                background-color: transparent;
                background-repeat: no-repeat;
              }
            }
          }
        }

        &.skill-box {
          .stlms-course-requirement-check {
            li {
              &:before {
                width: 15px;
                height: 15px;
                border-radius: 0;
                left: 5px;
                top: 5px;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3554 14.1009L7.99964 10.8995L3.64389 14.1009L5.31631 8.9308L0.962891 5.74988H6.33772L7.99964 0.571045L9.66156 5.74988H15.0358L10.683 8.9308L12.3554 14.1009Z' fill='%23595B68'/%3E%3C/svg%3E%0A");
                background-color: transparent;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }

    .stlms-course-right {
      width: 400px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include breakpoint(max, 1200) {
        width: 100%;
      }
    }
  }

  .stlms-course-info-box {
    background: var(--stlms-white-color);
    border-radius: 4px;
    box-shadow: $shadow_3;
    padding: 32px 25px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include breakpoint(max, $sm) {
      padding: 20px;
    }

    ul {
      li {
        padding: 10px 0;
        border-top: 1px solid var(--stlms-border-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $font_size_sm;
        color: var(--stlms-paragraph-color);

        &:last-child {
          border-bottom: 1px solid var(--stlms-border-color);
        }
      }
    }

    .stlms-btn-wrap {
      position: relative;
      border-radius: 4px;
      overflow: hidden;

      .stlms-progress__bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
      }
    }
  }
}

.stlms-accordion-course-content {
  padding-bottom: 30px;

  .stlms-accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .stlms-accordion-item {
      &:last-child {
        border-bottom: 0;
      }

      .stlms-accordion-header {
        padding: 15px 45px 15px 15px;
        background-color: var(--stlms-white-color);
        border-radius: 4px;

        &.active {
          background-color: var(--stlms-border-color);
          border-radius: 0;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        .stlms-lesson-name {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @include breakpoint(max, 767) {
            flex-direction: column;
            align-items: flex-start;
          }

          .name {
            font-size: $font_size_xl;
            font-weight: $font_weight_bold;
            color: var(--stlms-heading-color);
          }

          .info {
            padding-right: 35px;
          }
        }
      }

      .stlms-accordion-collapse {
        background-color: var(--stlms-white-color);
        padding: 15px;
      }

      .stlms-accordion-note {
        padding-bottom: 15px;
        font-size: $font_size_sm;
        line-height: 1.4;
        color: var(--stlms-paragraph-light-color);
        border-bottom: 1px solid var(--stlms-border-color);
      }

      .stlms-lesson-list {
        > ul {
          > li {
            border-bottom: 1px solid var(--stlms-border-color);
            padding: 15px 0;
            // height: 64px;
            display: flex;

            .stlms-btn.small {
              height: 34px;
            }

            &:last-child {
              border-bottom: 0;
            }

            label {
              position: relative;
              padding: 0;

              &.completed {
                color: var(--stlms-paragraph-light-color);
              }

              &.in-progress {
                color: var(--stlms-paragraph-color);
                background-color: transparent;
              }

              &:hover {
                background-color: transparent;
              }

              .stlms-check {
                position: absolute;
                opacity: 0;
                visibility: hidden;
              }

              .stlms-lesson-class {
                align-items: center;
                flex-direction: row;
                gap: 15px;

                @include breakpoint(max, $sm) {
                  flex-wrap: wrap;
                }

                .class-type {
                  @include breakpoint(max, $sm) {
                    display: none;
                  }
                }

                .class-name {
                  font-size: $font_size_base;
                  line-height: 1.5;
                  font-weight: $font_weight_normal;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                }

                .class-time-info {
                  margin-left: auto;
                  display: flex;
                  gap: 10px;
                  align-items: center;
                  pointer-events: all;

                  @include breakpoint(max, 767) {
                    width: 100%;
                  }

                  .class-time {
                    font-size: $font_size_sm;
                    font-weight: $font_weight_normal;
                    line-height: 1.4;
                    text-wrap: nowrap;
                    color: var(--stlms-paragraph-light-color);
                  }

                  .lock-icon {
                    flex-shrink: 0;
                    color: var(--stlms-icon-color);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.stlms-accordion-faq {
  padding-bottom: 30px;

  .stlms-accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .stlms-accordion-item {
    &:last-child {
      border-bottom: 0;
    }
  }

  .stlms-accordion-header {
    padding: 15px 45px 15px 15px;
    background-color: var(--stlms-white-color);
    border-radius: 4px;
    font-size: $font_size_xl;
    font-weight: $font_weight_bold;
    color: var(--stlms-heading-color);
    line-height: 1.2;

    &.active {
      background-color: var(--stlms-border-color);
      border-radius: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .stlms-accordion-collapse {
    background-color: var(--stlms-white-color);
    padding: 15px;
  }

  .stlms-quiz-content {
    padding: 0;
    margin: 0;

    p {
      &:last-child {
        padding: 0;
      }
    }

    @include breakpoint(max, 767) {
      width: 100%;
    }
  }
}

.stlms-share-cta {
  padding: 20px;
  border-top: 1px solid var(--stlms-border-color);
  border-bottom: 1px solid var(--stlms-border-color);
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    gap: 15px;

    li {
      a {
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        border: 1px solid var(--stlms-border-color);
        border-radius: 4px;
        color: var(--stlms-icon-color);
        @include transition(all 0.3s ease-in-out);

        &:hover {
          color: var(--stlms-primary-color);
        }
      }
    }
  }
}

.stlms-similar-course {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--stlms-border-color);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 400px;
  overflow-y: auto;

  ul {
    li {
      padding: 15px 0;
      border-bottom: 1px solid var(--stlms-border-color);

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      .stlms-similar-course-item {
        display: flex;
        gap: 15px;
        align-items: center;
        text-decoration: none;

        .stlms-similar-course-media {
          width: 130px;
          position: relative;
          padding-bottom: 20%;
          flex-shrink: 0;
          border-radius: 4px;
          overflow: hidden;

          @include breakpoint(max, 1200) {
            width: 30%;
            padding-bottom: 16%;
          }

          img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
          }
        }

        .stlms-similar-course-info {
          .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 5px;
          }
        }

        &:hover {
          .title {
            color: var(--stlms-primary-color);
          }
        }
      }
    }
  }
}

.tab-content {
  .tab-pane {
    display: none;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &.active {
      display: block;
    }
  }
}
