.stlms-form {
  &-group {
    padding-bottom: $spacing_24;

    @include breakpoint(max, $sm) {
      padding-bottom: $spacing_20;
    }
  }

  &-label {
    display: block;
    margin: 0;
    font-size: $font_size_base;
    font-weight: $font_weight_normal;
    color: var(--stlms-paragraph-color);
    padding-bottom: $spacing_8;
  }

  &-control {
    width: 100%;
    height: 52px;
    padding: 0 $spacing_20;
    font-size: $font_size_sm;
    line-height: 20px;
    color: var(--stlms-paragraph-light-color);
    border: 1px solid var(--stlms-border-color);
    border-radius: 4px;
    background-color: var(--stlms-white-color);
    @include transition(all 0.3s ease-in-out);
    @include placeholder {
      color: var(--stlms-paragraph-light-color);
    }

    &.error {
      border-color: var(--stlms-error-color);
    }
  }

  &-error {
    font-size: $font_size_xs;
    color: var(--stlms-error-color);
    padding-top: $spacing_4;
    display: block;
  }
}

textarea.stlms-form-control {
  height: 125px;
  padding: 20px;

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.stlms-password-field {
  position: relative;

  .stlms-form-control {
    padding-right: 48px;
  }

  .stlms-password-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--stlms-icon-color);
    cursor: pointer;

    svg {
      display: block;
    }

    .eye-on {
      display: none;
    }

    &.active {
      .eye-on {
        display: block;
      }
      .eye-off {
        display: none;
      }
    }
  }
}

// Checkbox
.stlms-check-wrap {
  display: flex;
  gap: 10px;
  // width: 100%;

  input[type="checkbox"].stlms-check {
    flex-shrink: 0;
  }
}

input[type="checkbox"].stlms-check {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 2px solid var(--stlms-icon-color);
  background-color: var(--stlms-white-color);
  display: grid;
  place-items: center;
  cursor: pointer;

  @include transition(all 0.3s ease-in-out);

  &:after {
    content: "";
    opacity: 0;
    width: 10px;
    height: 9px;
    position: relative;
    left: 0;
    top: 0;
    transform: rotate(0deg);
    border: 0;
    @include transition(all 0.3s ease-in-out);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.60533 8.22224L3.58771 8.23986L0.187866 4.84001L1.62054 3.40733L3.60539 5.39218L8.37941 0.618164L9.81208 2.05084L3.62301 8.23992L3.60533 8.22224Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  &:checked {
    background-color: var(--stlms-primary-color);
    border-color: var(--stlms-primary-color);

    &::after {
      opacity: 1;
    }

    & ~ .stlms-check-label {
      color: var(--stlms-paragraph-color);
    }
  }

  & ~ .stlms-check-label {
    color: var(--stlms-paragraph-light-color);

    @include transition(all 0.3s ease-in-out);
  }
}

input[type="radio"].stlms-check {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 2px solid var(--stlms-icon-color);
  background-color: var(--stlms-white-color);
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 100%;

  @include transition(all 0.3s ease-in-out);

  &:after {
    content: "";
    opacity: 0;
    width: 10px;
    height: 9px;
    position: relative;
    left: 0;
    top: 0;
    transform: rotate(0deg);
    border: 0;
    @include transition(all 0.3s ease-in-out);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.60533 8.22224L3.58771 8.23986L0.187866 4.84001L1.62054 3.40733L3.60539 5.39218L8.37941 0.618164L9.81208 2.05084L3.62301 8.23992L3.60533 8.22224Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.invalid {
    &:after {
      width: 8px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg%20width='8'%20height='9'%20viewBox='0%200%208%209'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M5.32908%204.48492L7.72504%202.08649C7.8806%201.90968%207.96299%201.68028%207.95548%201.4449C7.94796%201.20953%207.8511%200.985845%207.68458%200.819325C7.51806%200.652805%207.29438%200.555943%207.059%200.548428C6.82363%200.540913%206.59422%200.623309%206.41742%200.778868L4.01899%203.17483L1.61624%200.771456C1.53017%200.685394%201.428%200.617126%201.31556%200.570549C1.20311%200.523973%201.08259%200.5%200.960883%200.5C0.839172%200.5%200.718654%200.523973%200.606208%200.570549C0.493763%200.617126%200.391592%200.685394%200.30553%200.771456C0.219468%200.857518%200.1512%200.959689%200.104623%201.07213C0.0580465%201.18458%200.0340739%201.3051%200.0340739%201.42681C0.0340739%201.54852%200.0580465%201.66904%200.104623%201.78148C0.1512%201.89393%200.219468%201.9961%200.30553%202.08216L2.7089%204.48492L0.312942%206.88273C0.218977%206.96673%200.143137%207.06901%200.0900623%207.18333C0.0369878%207.29764%200.00779476%207.42158%200.0042689%207.54757C0.000743036%207.67355%200.0229586%207.79893%200.0695565%207.91604C0.116154%208.03314%200.186155%208.13951%200.275275%208.22863C0.364396%208.31775%200.470762%208.38775%200.587866%208.43435C0.704971%208.48095%200.830352%208.50316%200.956338%208.49964C1.08232%208.49611%201.20627%208.46692%201.32058%208.41384C1.4349%208.36077%201.53718%208.28493%201.62118%208.19096L4.01899%205.795L6.41433%208.19096C6.58814%208.36477%206.82388%208.46242%207.06969%208.46242C7.31549%208.46242%207.55123%208.36477%207.72504%208.19096C7.89885%208.01715%207.99649%207.78142%207.99649%207.53561C7.99649%207.28981%207.89885%207.05407%207.72504%206.88026L5.32908%204.48492Z'%20fill='white'/%3E%3C/svg%3E");
    }
  }

  &:checked {
    background-color: var(--stlms-primary-color);
    border-color: var(--stlms-primary-color);

    &::after {
      opacity: 1;
    }

    & ~ .stlms-check-label {
      color: var(--stlms-heading-color);
    }
  }

  & ~ .stlms-check-label {
    color: var(--stlms-paragraph-light-color);
    @include transition(all 0.3s ease-in-out);
  }
}

.stlms-check-label {
  font-size: $font_size_sm;
  line-height: 20px;
  color: var(--stlms-heading-color);
  cursor: pointer;

  &.text-sm {
    font-size: $font_size_sm;
    line-height: 16px;
  }
}

.stlms-keep-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stlms-search {
  position: relative;

  .stlms-form-control {
    padding-right: 48px;
    background: var(--stlms-white-color);
    border-color: var(--stlms-border-color);
  }

  &-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-submit {
    border: 0;
    background: transparent !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 !important;
  }

  &.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    background: var(--stlms-white-color);
    border: 1px solid var(--stlms-border-color);
    border-radius: 4px;
    overflow: hidden;

    .stlms-form-control {
      position: relative;
      flex: 1 1 auto;
      width: 1%;
      min-width: 0;
      border: 0;
      padding-right: 0;
    }

    button {
      width: 48px;
      display: grid;
      place-items: center;
      background: white;
      border: 0;
      color: var(--stlms-icon-color);
      z-index: 2;
      cursor: pointer;
    }
  }
}
