@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin transition($args...) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
}

@mixin box-shadow($args...) {
  box-shadow: $args;
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
}

@mixin transform-rotate($args...) {
  -webkit-transform: rotate($args);
  -moz-transform: rotate($args);
  -o-transform: rotate($args);
  -ms-transform: rotate($args);
  transform: rotate($args);
}

@mixin transform($args...) {
  -webkit-transform: ($args);
  -moz-transform: ($args);
  -ms-transform: ($args);
  -o-transform: ($args);
  transform: ($args);
}

@mixin transition-delay($args...) {
  -webkit-transition-delay: ($args);
  -moz-transition-delay: ($args);
  -o-transition-delay: ($args);
  transition-delay: ($args);
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }

  @include optional-at-root(":-moz-placeholder") {
    @content;
  }

  @include optional-at-root("::-moz-placeholder") {
    @content;
  }

  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}

// media min & max
@mixin breakpoint($max_min, $point) {
  @if $max_min==min {
    @media (min-width: ($point + px)) {
      @content;
    }
  }
  @if $max_min==max {
    @media (max-width: ($point + px)) {
      @content;
    }
  }
}

@mixin breakpoint-between($lower, $upper) {
  @media (min-width: ($lower + px)) and (max-width: ($upper + px)) {
    @content;
  }
}
