$theme-map: (
  --stlms-primary-color: #893bf8,
  --stlms-secondary-color: #66c7c4,
  --stlms-background-color: #f6f6f7,
  --stlms-background-light-color: #fbfbfb,
  --stlms-border-color: #ededed,
  --stlms-white-color: #ffffff,
  --stlms-heading-color: #101011,
  --stlms-paragraph-color: #5d5d73,
  --stlms-paragraph-light-color: #72728c,
  --stlms-link-color: #7d3cd9,
  --stlms-icon-color: #757575,
  --stlms-success-color: #208738,
  --stlms-error-color: #c53434,
);

// Header Height
$header-height: 78px;

// Colors
$primary: #893bf8;
$secondary: #66c7c4;
$bg_color: #f6f6f7;
$bg_color_light: #fbfbfb;
$border_color: #ededed;
$white: #ffffff;
$heading_color: #101011;
$paragraph: #5d5d73;
$paragraph_light: #72728c;
$link_color: #7d3cd9;
$icon_color: #757575;
$success: #208738;
$error: #c53434;

$prefix: "stlms";

// Shadows
$shadow: 0px 10px 25px 10px #893bf80d;
$shadow_2: 0px 5px 10px 0px #893bf80d;
$shadow_3: 0px 5px 20px 0px rgba(94, 122, 193, 0.14);
$shadow_4: 0px 0px 25px 10px rgba(137, 59, 248, 0.05);

// Fonts
$primary_font: "Lato", sans-serif;

// Media
$sm: 767;
$md: 1024;
$lg: 1281;
$xl: 1360;
$xxl: 1600;

// Font weight
$font_weight_light: 300;
$font_weight_normal: 400;
$font_weight_medium: 500;
$font_weight_semibold: 600;
$font_weight_bold: 700;

$font_size_xxs: 12px;
$font_size_xs: 13px;
$font_size_sm: 14px;
$font_size_base: 16px;
$font_size_lg: 15px;
$font_size_xl: 18px;
$font_size_2xl: 22px;
$font_size_3xl: 28px;
$font_size_4xl: 32px;
$font_size_5xl: 42px;

$spacing_0: 0px;
$spacing_4: 4px;
$spacing_8: 8px;
$spacing_10: 10px;
$spacing_12: 12px;
$spacing_16: 16px;
$spacing_20: 20px;
$spacing_24: 24px;
$spacing_28: 28px;
$spacing_32: 32px;
$spacing_36: 36px;
$spacing_40: 40px;
$spacing_44: 44px;
$spacing_48: 48px;
