@import '~@fancyapps/ui/dist/fancybox/fancybox.css';
@import '~datatables.net-dt/css/dataTables.dataTables.min.css';
@import '~datatables.net-responsive-dt/css/responsive.dataTables.min.css';
@import '~datatables.net-scroller-dt/css/scroller.dataTables.min.css';
@import '~select2/dist/css/select2.min.css';

.stlms-assigned-course {
  &__header {
    border-bottom: 1px solid var(--stlms-border-color);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__btn {
    padding: 15px 40px;
    color: var(--stlms-paragraph-color);
    text-decoration: none;
    border: 1px solid var(--stlms-border-color);
    border-bottom: 0;

    @include transition(all 0.3s ease-in-out);
    @include breakpoint(max, $sm) {
      padding: 10px 15px;
    }

    &.active {
      font-weight: 700;
      border-bottom: 3px solid var(--stlms-primary-color);
    }

    &:hover {
      background-color: var(--stlms-primary-color);
      color: var(--stlms-white-color);
      font-weight: 700;
    }
  }
}

.stlms-assigned-course__action {
  display: flex;
  gap: 5px;

  .stlms-assigned-course__button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    color: var(--stlms-icon-color);
    @include transition(all 0.3s ease-in-out);

    &:hover {
      color: var(--stlms-heading-color);
    }

    &:disabled {
      opacity: 0.2;
      cursor: default;

      &:hover {
        color: inherit;
      }
    }
  }
}

.stlms-assign-course__box {
  padding: 30px 0;
  border-bottom: 1px solid var(--stlms-border-color);

  &:first-of-type {
    padding-top: 0;
  }

  .stlms-course-view__title {
    padding-bottom: 20px;
    gap: 16px;
    color: var(--stlms-paragraph-light-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 400;
      font-size: $font_size_sm;
      line-height: 1;
      color: var(--stlms-paragraph-light-color);
      position: relative;
      padding-left: 21px;

      &::before {
        content: "";
        height: 20px;
        width: 2px;
        background-color: var(--stlms-border-color);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .stlms-form-row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin: 0 -15px;
    padding-top: 30px;
    .stlms-form-col {
      width: 50%;
      padding: 0 15px;

      @include breakpoint(max, $sm) {
        width: 100%;
      }
    }
  }

  .stlms-form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;

    input {
      height: 52px;
      padding: 0 20px;
      border-radius: 4px;
      border: 1px solid var(--stlms-border-color);
      font-size: $font_size_sm;
      line-height: 20px;
    }

    input[type="date"] {
      color: var(--stlms-paragraph-light-color);
      &:focus-visible {
        outline: none;
      }
    }
  }

  .stlms-search-list {
    padding-top: 15px;
    ul {
      background-color: var(--stlms-background-color);
      padding: 5px 15px 5px 15px;
      border-radius: 4px;
      max-height: 225px;
      border: 1px solid var(--stlms-border-color);
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 5px;

      li {
        label {
          padding: 5px 0;
          display: flex;
          gap: 10px;
          align-items: center;
          font-size: $font_size_sm;
          line-height: 20px;
          color: var(--stlms-paragraph-light-color);
          cursor: pointer;

          &:has(input:checked) {
            color: var(--stlms-paragraph-color);
          }

          &:has(input:disabled) {
            color: $primary;
            opacity: 0.4;
            cursor: default;
            input {
              pointer-events: none;
              background-color: $primary;
              border: 1px solid $primary !important;
              &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.60533 8.22224L3.58771 8.23986L0.187866 4.84001L1.62054 3.40733L3.60539 5.39218L8.37941 0.618164L9.81208 2.05084L3.62301 8.23992L3.60533 8.22224Z' fill='white'/%3E%3C/svg%3E%0A");
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .no-results {
      padding: 15px;
      background-color: var(--stlms-background-color);
      border-radius: 4px;
      text-align: center;
      border: 1px solid var(--stlms-border-color);
      color: var(--stlms-heading-color);
    }
  }
}

.stlms-assign-course__box-text {
  padding-bottom: 10px;
  color: var(--stlms-paragraph-light-color);
}

.stlms-assign-course__submit {
  text-align: end;
  padding-top: 30px;
}

.stlms-switch-wrap {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid var(--stlms-border-color);
  background-color: var(--stlms-background-light-color);
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      inset: 0;
      background-color: var(--stlms-border-color);
      border: 1px solid var(--stlms-icon-color);
      @include transition(all 0.3s ease-in-out);
      border-radius: 100px;
      &:before {
        position: absolute;
        content: "";
        height: 19px;
        width: 19px;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        border-radius: 50%;
        @include transition(all 0.3s ease-in-out);
      }
    }
    input:checked + .slider {
      background-color: var(--stlms-primary-color);
    }
    input:checked + .slider:before {
      transform: translate(16px, -50%);
    }
  }
}

// select 2 css override
.stlms-select-search {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .select2-container {
    .select2-selection--single {
      height: 52px;
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: space-between;
      padding: 0 20px;
      border-radius: 4px;
      border: 1px solid var(--stlms-border-color);

      .select2-selection__rendered {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 !important;
        color: var(--stlms-paragraph-light-color);
      }

      .select2-selection__arrow {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("../images/select-down.svg");
        background-repeat: no-repeat;
        background-position: center;
        @include transition(all 0.3s ease-in-out);

        b {
          display: none;
        }
      }
    }
  }
}

.select2.select2-container.select2-container--open
  .select2-selection.select2-selection--single
  .select2-selection__arrow {
  transform: rotate(180deg);
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: var(--stlms-paragraph-light-color);
}

.select2-dropdown {
  border-radius: 4px !important;
  border-color: #ededed !important;
  box-shadow: 0px 4px 8px 0px #0000001a;
}

.select2-results {
  border-top: 1px solid #ededed;
}

.select2-search--dropdown {
  padding: 15px !important;
  border-radius: 4px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  height: 52px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  padding: 0 20px !important;
  border-radius: 4px;
  border: 1px solid var(--stlms-border-color) !important;
  font-size: $font_size_sm;
  line-height: 20px;
  color: var(--stlms-paragraph-color);

  &::placeholder {
    font-size: $font_size_sm;
    line-height: 1;
    font-weight: 400;
    color: var(--stlms-paragraph-light-color-color);
    font-family: $primary_font !important;
  }

  &:focus-visible {
    outline: none;
  }
}

.select2-results__option--selectable {
  padding: 5px 15px 5px 15px !important;
  font-size: $font_size_sm;
  line-height: 20px;
  color: var(--stlms-paragraph-light-color) !important;
  font-family: var(--stlms-body-font-family) !important;
}

.select2-container {
  font-family: var(--stlms-body-font-family) !important;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--stlms-primary-color) !important;
  color: var(--stlms-white-color) !important;
}

.select2-results__option.select2-results__message {
  text-align: center;
  padding: 10px;
  color: var(--stlms-error-color);
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__display {
  cursor: default;
  padding-right: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--stlms-white-color);
  font-weight: 400;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  padding: 0;
  width: 16px;
  font-size: inherit;
  height: 100%;
  z-index: 1;
  border: 0;
  color: var(--stlms-white-color);
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:hover,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:focus {
  background-color: var(--stlms-primary-color);
  color: var(--stlms-white-color);
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: 1px solid var(--stlms-border-color) !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  padding-left: 16px;
  border: 1px solid var(--stlms-primary-color);
  background-color: var(--stlms-primary-color);
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 16px;
  margin-left: 12px;
}

.select2-container--default .select2-selection--multiple {
  min-height: 52px;
  border: 1px solid var(--stlms-border-color);
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--stlms-background-color);
  color: var(--stlms-primary-color) !important;
}

// datatable css override
.stlms-datatable {
  padding-top: 30px;
  table {
    thead {
      tr {
        color: var(--stlms-paragraph-light-color);
        background-color: var(--stlms-border-color);
        font-size: $font_size_sm;
        line-height: 20px;

        th {
          padding-top: 15px !important;
          padding-bottom: 15px !important;
          border: 0 !important;
        }
      }
    }
    tbody {
      tr {
        &:nth-child(odd) > * {
          box-shadow: none !important;
        }
        td {
          padding: 10px !important;
        }
      }
    }
    .due-date {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 3px;
    }
    .stlms-progress {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .stlms-progress__bar {
        background-color: var(--stlms-border-color);
      }
      .stlms-progress__bar-inner {
        background-color: var(--stlms-primary-color);
      }
    }
  }
}

.stlms-datatable__course-link {
  color: var(--stlms-primary-color);
  text-decoration: none;
}

table.dataTable.row-border > tbody > tr > *,
table.dataTable.display > tbody > tr > * {
  background-color: var(--stlms-background-color) !important;
  border-top: 1px solid var(--stlms-border-color) !important;
}

table.dataTable.stripe > tbody > tr:nth-child(odd) > *,
table.dataTable.display > tbody > tr:nth-child(odd) > * {
  background-color: var(--stlms-background-light-color) !important;
}

div.dt-container.dt-empty-footer tbody > tr:last-child > * {
  border-bottom: 1px solid var(--stlms-border-color) !important;
}

div.dt-container.dt-empty-footer tbody > tr:first-child > * {
  border-top: 0 !important;
}

div.dt-container {
  .dt-paging {
    nav {
      padding-top: 30px;
      display: flex;
      justify-content: center;
      gap: 15px;
      color: var(--stlms-paragraph-color);
    }
  }
  .dt-paging-button {
    width: 50px !important;
    height: 50px !important;
    border-radius: 4px !important;
    border: 1px solid var(--stlms-border-color) !important;
    background-color: transparent !important;
    margin: 0 !important;
    font-weight: 400;
    font-size: $font_size_base;

    &.current {
      background-color: var(--stlms-primary-color) !important;
      border: 1px solid var(--stlms-primary-color) !important;
    }

    &:hover {
      border: 1px solid var(--stlms-primary-color) !important;
      color: var(--stlms-white-color) !important;
    }

    &:disabled {
      &:hover {
        cursor: not-allowed !important;
      }
    }
  }
}

.stlms-datatable div.dt-container .dt-paging .dt-paging-button.current,
.stlms-datatable div.dt-container .dt-paging .dt-paging-button.current:hover {
  color: var(--stlms-white-color) !important;
}

.stlms-datatable div.dt-container .dt-paging .dt-paging-button:hover {
  background: var(--stlms-primary-color) !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active {
  border: 1px solid var(--stlms-border-color) !important;
  background-color: transparent !important;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

table.dataTable > tbody > tr.child ul.dtr-details > li {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.dt-layout-row:has(.dt-search),
.dt-layout-row:has(.dt-paging) .dt-layout-start {
	display: none !important;
}

.dt-layout-cell:has(.dt-paging) {
	width: 100%;
	justify-content: center !important;
	margin: 0;
}

// snackbar css
.stlms-snackbar-wrap {
  padding-top: 30px;
  &.course-detail {
    padding-top: 60px;
  }
  .stlms-snackbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 4px;
    color: var(--stlms-white-color);
    background-color: var(--stlms-success-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    border: 1px solid var(--stlms-border-color);

    &.error-snackbar {
      display: none;
      position: fixed;
      z-index: 1000;
      right: 50px;
      bottom: 50px;
      margin-left: 50px;
      background-color: var(--stlms-error-color);
      min-width: 450px;
    }

    &.show {
      display: flex; // only show when needed
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    &.hide {
      display: none;
    }

    button {
      margin-left: auto;
      color: white;
      cursor: pointer;
      flex-shrink: 0;
    }

    svg {
      flex-shrink: 0;
    }

    @include breakpoint(max, $sm) {
      font-size: 15px;
      padding: 10px;
      &.error-snackbar {
        right: 15px;
        bottom: 15px;
        margin-left: 15px;
        width: 280px;
        min-width: auto;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

// dialog popup
.stlms-dialog {
  display: none;
  display: block;
  border-radius: 4px;
  color: var(--stlms-paragraph-color);
  background-color: var(--stlms-white-color);
  box-shadow: 0px 4px 100px 0px #0000000d;
  font-family: $primary_font;
  line-height: 1.4;
  text-transform: capitalize;

  &.fancybox__content {
    max-width: 500px;
    padding: 0;
    color: var(--stlms-paragraph-color);
    border-radius: 10px;
    font-family: $primary_font;

    .f-button.is-close-btn {
      display: none !important;
    }
  }

  .stlms-assign-course__box {
    padding: 0;
    display: block;
    border: 0;
  }

  p {
    font-size: $font_size_xl;
  }

  &__header {
    padding: 20px;
    border-bottom: 1px solid var(--stlms-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @include breakpoint(max, $sm) {
      padding: 15px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;
    color: var(--stlms-heading-color);
    @include breakpoint(max, $sm) {
      font-size: 20px;
    }
  }
  &__close {
    cursor: pointer;
    color: #757575;
    width: 30px;
    height: 30px;
    @include transition(all 0.3s ease-in-out);

    &:hover {
      color: var(--stlms-heading-color);
    }
  }
  &__content-box {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include breakpoint(max, $sm) {
      padding: 15px 20px;
      gap: 15px;
    }
  }
  &__content-title {
    span {
      font-weight: 600;
    }
  }
  // .stlms-switch-wrap {
  //   color: $gray_dark;
  // }
  &__footer {
    padding: 20px;
    border-top: 1px solid var(--stlms-border-color);
    @include breakpoint(max, $sm) {
      padding: 15px;
    }
  }
  &__cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    &.center {
      justify-content: center;
    }

    @include breakpoint(max, $sm) {
      gap: 15px;
    }
  }
}