.stlms-course-list-wrap {
  padding: 30px 0;

  .stlms-container {
    display: flex;
    gap: 30px;

    @include breakpoint(max, $xl) {
      gap: 40px;
    }

    .stlms-course-filter {
      width: 278px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      @include breakpoint(max, $md) {
        position: fixed;
        right: -278px;
        top: 0;
        height: 100%;
        background-color: var(--stlms-background-light-color);
        z-index: 999;
        padding: 80px 20px 20px;
        border-left: 1px solid var(--stlms-border-color);
        overflow: auto;
        box-shadow: 0 0 20px rgba(var(--stlms-heading-color), 0.06);
        transition: all 0.3s ease-in-out;

        &.active {
          right: 0;
        }
      }

      .stlms-filter-toggle {
        position: absolute;
        right: 8px;
        top: 8px;
      }
    }

    .stlms-course-view {
      width: 100%;
    }
  }
}

.stlms-filter-toggle {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--stlms-border-color);
  border-radius: 6px;
  display: none;
  align-items: center;
  justify-content: center;
  color: var(--stlms-primary-color);

  @include breakpoint(max, $md) {
    display: flex;
  }
}

.stlms-course-view {
  &__title {
    padding-bottom: 24px;
    h4 {
      font-weight: 700;
      font-size: $font_size_2xl;
      line-height: 30px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border: 1px solid var(--stlms-border-color);
    margin-top: 60px;

    &.inner-header {
      margin: 0;
      margin-bottom: 30px;

      @include breakpoint(max, $md) {
        flex-wrap: wrap;
        border: 1px solid var(--stlms-border-color);
        justify-content: space-between;
      }
      .stlms-filtered-item {
        @include breakpoint(max, $md) {
          width: auto;
          text-align: center;
          order: inherit;
        }
      }
    }

    @include breakpoint(max, $md) {
      flex-wrap: wrap;
      row-gap: 15px;
      justify-content: center;
      border: 0;
      margin-top: 40px;
    }

    @include breakpoint(max, $sm) {
      margin-top: 30px;
    }

    .stlms-filtered-item {
      @include breakpoint(max, $md) {
        width: 100%;
        text-align: center;
        order: 1;
      }

      span {
        font-weight: $font_weight_normal;
        font-size: $font_size_sm;
        color: var(--stlms-paragraph-color);
      }
    }

    .stlms-list-grid-toggle {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-left: auto;

      @include breakpoint(max, $md) {
        margin-left: 0;
      }

      @include breakpoint(max, $sm) {
        display: none;
      }

      button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
        color: var(--stlms-icon-color);

        &.active {
          color: var(--stlms-primary-color);
        }
      }
    }

    .stlms-sort-by {
      flex-shrink: 0;

      @include breakpoint(max, $md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      select {
        height: 36px;
        padding: 0 8px 0 10px;
        margin: 0;
        border: 1px solid var(--stlms-white-color);
        font-size: $font_size_sm;
        color: var(--stlms-paragraph-light-color);
        background-color: var(--stlms-white-color);
        border-radius: 4px;

        &:focus {
          color: var(--stlms-paragraph-color);
        }
      }
    }
  }

  &__footer {
    padding-top: 30px;

    .stlms-pagination {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;

      @include breakpoint(max, $sm) {
        gap: 10px;
      }

      .page-numbers {
        width: 50px;
        height: 50px;
        border: 1px solid var(--stlms-border-color);
        border-radius: 4px;
        display: grid;
        place-items: center;
        background-color: transparent;
        color: var(--stlms-paragraph-color);
        text-decoration: none;

        @include transition(all 0.3s ease-in-out);
        @include breakpoint(max, $sm) {
          width: 40px;
          height: 40px;
        }

        &.current,
        &:hover {
          background-color: var(--stlms-primary-color);
          border: 1px solid var(--stlms-primary-color);
          color: var(--stlms-white-color);
        }
      }
    }
  }

  .is-loading {
    opacity: 0.5;
    pointer-events: none;
  }
}

.stlms-filter-list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--stlms-border-color);
    font-size: $font_size_sm;

    li {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      padding: 5px 10px;
      text-decoration: none;
      font-size: $font_size_sm;
      line-height: 1.4;
      color: var(--stlms-paragraph-light-color);
      background: transparent;
      border: 0;
      border-bottom: 1px solid var(--stlms-border-color);
      cursor: pointer;

      @include transition(all 0.3s ease-in-out);
      &:last-child {
        border: 0;
      }
    }
  }

  .stlms-check-wrap {
    width: 100%;

    &.radio label {
      width: 100%;
      display: flex;
      gap: 10px;
      span {
        margin-left: auto;
      }
    }

    .stlms-check {
      margin-top: 2px;
      flex-shrink: 0;
    }

    .stlms-check-label {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 12px;
      span {
        margin-left: auto;
      }
    }
  }
}

.stlms-progress {
  &__label {
    font-size: $font_size_sm;
    line-height: 21px;
    font-weight: $font_weight_normal;
    padding-bottom: 10px;
    color: var(--stlms-heading-color);
  }
  &__bar {
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.15);

    height: 4px;
  }
  &__bar-inner {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.stlms-reset-btn {
  background: transparent;
  border: 0;
  padding: 0 15px;
  font-size: $font_size_sm;
  line-height: 24px;
  font-weight: $font_weight_normal;
  color: var(--stlms-primary-color);
  cursor: pointer;
}

.stlms-filter-item {
  padding: $spacing_20;
  border: 1px solid var(--stlms-border-color);
  border-radius: 4px;
  background-color: var(--stlms-background-light-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
