.stlms-login-wrap {
  padding: $spacing_20;
  min-height: 90vh;
  display: grid;
  place-items: center;
  background-color: var(--stlms-background-light-color);

  @include breakpoint(max, $sm) {
    padding: $spacing_16;
  }
}

.stlms-login {
  padding: 30px 50px 50px 50px;
  border-radius: 5px;
  background: var(--stlms-white-color);
  box-shadow: $shadow;
  width: 100%;
  max-width: 450px;

  &__header {
    text-align: center;
  }

  &__title {
    padding-bottom: $spacing_12;

    @include breakpoint(max, $sm) {
      font-size: $font_size_3xl;
    }
  }

  &__text {
    padding-bottom: $spacing_24;
  }

  @include breakpoint(max, $sm) {
    padding: $spacing_20;
  }
}

.stlms-login-with {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 25px;

  .stlms-hr {
    height: 1px;
    background-color: var(--stlms-border-color);
    width: 100%;
  }

  .stlms-or-text {
    flex-shrink: 0;
  }
}

.stlms-login-with-cta {
  padding-top: 15px;
  text-align: center;
}
