@import "./variable";
@import "./mixins";
@import "./utility";
@import "./form";
@import "./button";
@import "./accordion";
@import "./stlms-countdown";

:root {
  --stlms-primary-color: #{$primary};
  --stlms-secondary-color: #{$secondary};
  --stlms-background-color: #{$bg_color};
  --stlms-background-light-color: #{$bg_color_light};
  --stlms-border-color: #{$border_color};
  --stlms-white-color: #{$white};
  --stlms-heading-color: #{$heading_color};
  --stlms-paragraph-color: #{$paragraph};
  --stlms-paragraph-light-color: #{$paragraph_light};
  --stlms-link-color: #{$link_color};
  --stlms-icon-color: #{$icon_color};
  --stlms-success-color: #{$success};
  --stlms-error-color: #{$error};

  // global font-family
  --stlms-body-font-family: "Lato", sans-serif;
  --stlms-heading-font-family: "Lato", sans-serif;

  // h1
  --stlms-heading-1-font-size: 42px;
  --stlms-heading-1-font-weight: 700;
  --stlms-heading-1-line-height: 1.2;
  --stlms-heading-1-text-transform: none;
  --stlms-heading-1-letter-spacing: normal;
  --stlms-heading-1-text-decoration: none;

  // h2
  --stlms-heading-2-font-size: 32px;
  --stlms-heading-2-font-weight: 700;
  --stlms-heading-2-line-height: 1.3;
  --stlms-heading-2-text-transform: none;
  --stlms-heading-2-letter-spacing: normal;
  --stlms-heading-2-text-decoration: none;

  // h3
  --stlms-heading-3-font-size: 28px;
  --stlms-heading-3-font-weight: 700;
  --stlms-heading-3-line-height: 1.2;
  --stlms-heading-3-text-transform: none;
  --stlms-heading-3-letter-spacing: normal;
  --stlms-heading-3-text-decoration: none;

  // h4
  --stlms-heading-4-font-size: 22px;
  --stlms-heading-4-font-weight: 700;
  --stlms-heading-4-line-height: 1.3;
  --stlms-heading-4-text-transform: none;
  --stlms-heading-4-letter-spacing: normal;
  --stlms-heading-4-text-decoration: none;

  // h5
  --stlms-heading-5-font-size: 18px;
  --stlms-heading-5-font-weight: 700;
  --stlms-heading-5-line-height: 1.2;
  --stlms-heading-5-text-transform: none;
  --stlms-heading-5-letter-spacing: normal;
  --stlms-heading-5-text-decoration: none;

  // h6
  --stlms-heading-6-font-size: 15px;
  --stlms-heading-6-font-weight: 700;
  --stlms-heading-6-line-height: 1.3;
  --stlms-heading-6-text-transform: none;
  --stlms-heading-6-letter-spacing: normal;
  --stlms-heading-6-text-decoration: none;

  // p - base font
  --stlms-paragraph-base-font-size: 16px;
  --stlms-paragraph-base-font-weight: 400;
  --stlms-paragraph-base-line-height: 1.5;
  --stlms-paragraph-base-text-transform: none;
  --stlms-paragraph-base-letter-spacing: normal;
  --stlms-paragraph-base-text-decoration: none;

  // p - large font
  --stlms-paragraph-large-font-size: 18px;
  --stlms-paragraph-large-font-weight: 400;
  --stlms-paragraph-large-line-height: 1.4;
  --stlms-paragraph-large-text-transform: none;
  --stlms-paragraph-large-letter-spacing: normal;
  --stlms-paragraph-large-text-decoration: none;

  // p - small font
  --stlms-paragraph-small-font-size: 14px;
  --stlms-paragraph-small-font-weight: 400;
  --stlms-paragraph-small-line-height: 1.4;
  --stlms-paragraph-small-text-transform: none;
  --stlms-paragraph-small-letter-spacing: normal;
  --stlms-paragraph-small-text-decoration: none;

  // link text
  --stlms-link-font-size: 14px;
  --stlms-link-font-weight: 400;
  --stlms-link-line-height: 1.4;
  --stlms-link-text-transform: none;
  --stlms-link-letter-spacing: normal;
  --stlms-link-text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--stlms-background-light-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

.stlms-wrap {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: var(--stlms-paragraph-color);
  background: var(--stlms-background-light-color);

  font-size: var(--stlms-paragraph-base-font-size);
  font-weight: var(--stlms-paragraph-base-font-weight);
  line-height: var(--stlms-paragraph-base-line-height);
  text-transform: var(--stlms-paragraph-base-text-transform);
  letter-spacing: var(--stlms-paragraph-base-letter-spacing);
  text-decoration: var(--stlms-paragraph-base-text-decoration);
  font-family: var(--stlms-body-font-family);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--stlms-heading-color);
    font-family: var(--stlms-heading-font-family);
  }

  .stlms-h1,
  .stlms-h2,
  .stlms-h3,
  .stlms-h4,
  .stlms-h5,
  .stlms-h6,
  .stlms-quiz-content h1,
  .stlms-quiz-content h2,
  .stlms-quiz-content h3,
  .stlms-quiz-content h4,
  .stlms-quiz-content h5,
  .stlms-quiz-content h6 {
    color: var(--stlms-heading-color);
    font-family: var(--stlms-heading-font-family);
  }

  .stlms-h1,
  .stlms-quiz-content h1 {
    font-size: var(--stlms-heading-1-font-size);
    font-weight: var(--stlms-heading-1-font-weight);
    line-height: var(--stlms-heading-1-line-height);
    text-transform: var(--stlms-heading-1-text-transform);
    letter-spacing: var(--stlms-heading-1-letter-spacing);
    text-decoration: var(--stlms-heading-1-text-decoration);

    @include breakpoint(max, $sm) {
      font-size: calc(var(--stlms-heading-1-font-size) * 0.75);
    }
  }

  .stlms-h2,
  .stlms-quiz-content h2 {
    font-size: var(--stlms-heading-2-font-size);
    font-weight: var(--stlms-heading-2-font-weight);
    line-height: var(--stlms-heading-2-line-height);
    text-transform: var(--stlms-heading-2-text-transform);
    letter-spacing: var(--stlms-heading-2-letter-spacing);
    text-decoration: var(--stlms-heading-2-text-decoration);

    @include breakpoint(max, $sm) {
      font-size: calc(var(--stlms-heading-2-font-size) * 0.85);
    }
  }

  .stlms-h3,
  .stlms-quiz-content h3 {
    font-size: var(--stlms-heading-3-font-size);
    font-weight: var(--stlms-heading-3-font-weight);
    line-height: var(--stlms-heading-3-line-height);
    text-transform: var(--stlms-heading-3-text-transform);
    letter-spacing: var(--stlms-heading-3-letter-spacing);
    text-decoration: var(--stlms-heading-3-text-decoration);

    @include breakpoint(max, $sm) {
      font-size: calc(var(--stlms-heading-3-font-size) * 0.85);
    }
  }

  .stlms-h4,
  .stlms-quiz-content h4 {
    font-size: var(--stlms-heading-4-font-size);
    font-weight: var(--stlms-heading-4-font-weight);
    line-height: var(--stlms-heading-4-line-height);
    text-transform: var(--stlms-heading-4-text-transform);
    letter-spacing: var(--stlms-heading-4-letter-spacing);
    text-decoration: var(--stlms-heading-4-text-decoration);

    @include breakpoint(max, $sm) {
      font-size: calc(var(--stlms-heading-4-font-size) * 0.9);
    }
  }

  .stlms-h5,
  .stlms-quiz-content h5 {
    font-size: var(--stlms-heading-5-font-size);
    font-weight: var(--stlms-heading-5-font-weight);
    line-height: var(--stlms-heading-5-line-height);
    text-transform: var(--stlms-heading-5-text-transform);
    letter-spacing: var(--stlms-heading-5-letter-spacing);
    text-decoration: var(--stlms-heading-5-text-decoration);

    @include breakpoint(max, $sm) {
      font-size: calc(var(--stlms-heading-5-font-size) * 0.9);
    }
  }

  .stlms-h6,
  .stlms-quiz-content h6 {
    font-size: var(--stlms-heading-6-font-size);
    font-weight: var(--stlms-heading-6-font-weight);
    line-height: var(--stlms-heading-6-line-height);
    text-transform: var(--stlms-heading-6-text-transform);
    letter-spacing: var(--stlms-heading-6-letter-spacing);
    text-decoration: var(--stlms-heading-6-text-decoration);

    @include breakpoint(max, $sm) {
      font-size: calc(var(--stlms-heading-6-font-size) * 0.9);
    }
  }

  .stlms-p-base {
    font-size: var(--stlms-paragraph-base-font-size);
    font-weight: var(--stlms-paragraph-base-font-weight);
    line-height: var(--stlms-paragraph-base-line-height);
    text-transform: var(--stlms-paragraph-base-text-transform);
    letter-spacing: var(--stlms-paragraph-base-letter-spacing);
    text-decoration: var(--stlms-paragraph-base-text-decoration);
  }

  .stlms-p-large {
    font-size: var(--stlms-paragraph-large-font-size);
    font-weight: var(--stlms-paragraph-large-font-weight);
    line-height: var(--stlms-paragraph-large-line-height);
    text-transform: var(--stlms-paragraph-large-text-transform);
    letter-spacing: var(--stlms-paragraph-large-letter-spacing);
    text-decoration: var(--stlms-paragraph-large-text-decoration);
  }

  .stlms-p-small {
    font-size: var(--stlms-paragraph-small-font-size);
    font-weight: var(--stlms-paragraph-small-font-weight);
    line-height: var(--stlms-paragraph-small-line-height);
    text-transform: var(--stlms-paragraph-small-text-transform);
    letter-spacing: var(--stlms-paragraph-small-letter-spacing);
    text-decoration: var(--stlms-paragraph-small-text-decoration);
  }

  .stlms-font-bold,
  .stlms-p-large.stlms-font-bold,
  .stlms-p-small.stlms-font-bold {
    font-weight: 700;
  }

  .stlms-link-text,
  a.stlms-link-text {
    font-size: var(--stlms-link-font-size);
    font-weight: var(--stlms-link-font-weight);
    line-height: var(--stlms-link-line-height);
    text-transform: var(--stlms-link-text-transform);
    letter-spacing: var(--stlms-link-letter-spacing);
    text-decoration: var(--stlms-link-text-decoration);
    color: var(--stlms-link-color);
  }

  input,
  select,
  button,
  textarea {
    font-family: var(--stlms-body-font-family);
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  input:focus,
  a:focus,
  button:focus,
  select:focus {
    box-shadow: none;
    outline: 0;
  }

  .stlms-error-message {
    &.hidden {
      display: none;
    }
  }
}

.stlms-container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  &.wd-container {
    max-width: 1630px;
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.stlms-loader {
  display: none;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border-radius: 50%;
  border: 2px solid currentcolor;
  border-right-color: transparent;
  animation: 0.75s linear infinite spinner-border;
}

.stlms-loader.is-active {
  display: inline-block;
}

.stlms-tag {
  font-size: $font_size_xxs;
  font-weight: $font_weight_bold;
  line-height: 1;
  color: var(--stlms-white-color);
  position: relative;
  z-index: 1;

  &.primary {
    background-color: var(--stlms-primary-color);
    padding: 7px 10px;
    border-radius: 3px;
  }

  &.primary-light {
    background-color: var(--stlms-primary-color);
    padding: 4px 8px;
    border-radius: 3px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      left: 0;
      top: 0;
      z-index: 0;
      opacity: 0.5;
    }
  }

  &.secondary {
    padding: 5px 6px;
    background-color: var(--stlms-icon-color);
    border-radius: 4px;
  }
}

.stlms-header-wrap {
  height: 80px;
  position: relative;

  header {
    padding: 14px 0;
    background-color: var(--stlms-white-color);
    height: 100%;
  }
}

@import "./login.scss";
@import "./user-info.scss";
@import "./course-list.scss";
@import "./course-item";
@import "./lesson-view.scss";
@import "./course-result";
@import "./course-detail";
@import "./_statistics";
@import "./banner.scss";
