.bdlms-user {
  display: flex;
  gap: 16px;

  &-photo {
    flex-shrink: 0;
    width: 48px;

    img {
      width: 48px;
      height: 48px;
      object-fit: cover;
      border-radius: 4px;
      border: 1px solid rgba(#293138, 0.16);
    }

    .bdlms-photo {
      width: 48px;
      height: 48px;
      position: relative;
      overflow: hidden;

      .notification-badge {
        position: absolute;
        right: -2px;
        bottom: -2px;
        width: 12px;
        height: 12px;
        background: var(--bdlms-primary-color);
        border-radius: 4px;
        border: 2px solid var(--bdlms-white-color);
      }
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-email {
    color: var(--bdlms-paragraph-color);
    font-size: $font_size_sm;
    line-height: 1.4;
  }

  .bdlms-logout {
    width: max-content;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--bdlms-primary-color);

    &:hover {
      color: #7a22f7;
    }
  }
}

.bdlms-user-dd {
  position: relative;

  &__toggle {
    display: inline-flex;
    align-items: center;
    color: var(--bdlms-primary-color);
    font-size: $font_size_sm;
    cursor: pointer;
  }

  &__menu {
    border: 1px solid var(--bdlms-border-color);
  }

  &__link {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--bdlms-paragraph-light-color);
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--bdlms-border-color);
    cursor: pointer;

    @include transition(all 0.3s ease-in-out);

    &:last-child {
      border: 0;
    }
    &:hover,
    &:focus {
      color: var(--bdlms-primary-color);
    }
    &.active {
      color: var(--bdlms-primary-color);
      font-weight: $font_weight_bold;
    }
    
    .bdlms-noti-count {
      width: 22px;
      height: 22px;
      background: var(--bdlms-primary-color);
      color: var(--bdlms-white-color);
      display: grid;
      place-items: center;
      font-size: $font_size_xxs;
      @include border-radius(100%);
    }
  }
}
